* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background: @white;
  padding: 0 !important;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .wrap {
    padding: 20px;
    padding-left: 20px;
  }
}

/* Wrapper for page content to push down footer */
.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto ;
}
.wrap {
  width: 100%;
}
#push {
  height: 80px;
}