@import "bootstrap/bootstrap.less";

@import "colors.less";
@import "layout.less";
@import "menus.less";


.sitetitle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 20px;

  h2 {
    font-size: 16px;
    font-weight: 800;
    color: @white;
    opacity: .6;
    margin: 0;
  }
  ul {
    li {
      color: @white;
      opacity: .6;
      font-size: 12px;
      font-weight: 100;
      vertical-align: top;


      a {
        color: @white;
        
        &:hover,
        &:focus {
          color: @ordinary;
        }
      }
    }
  }
}

/* Season Chart */
#theseason {
  background: @black;
}
#seasonsChart {
	width: 280px;
	height: 280px;

  &.move-left {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
	#seasonsChart {
		width: 400px;
		height: 400px;
	}
}
/* Tweak Seasons Chart to center */
#theseason[data-season='1'] {
  background: linear-gradient(to top, @black 0%, @advent 100%);
  
  #seasonsChart { margin-left: 54px; }
}
#theseason[data-season='2'] {
  background: linear-gradient(to top, @black 0%, @christmas 100%);
  
  #seasonsChart { margin-left: 30px; margin-top: 40px; }
}
#theseason[data-season='3'] {
  background: linear-gradient(to top, @black 0%, @epiphany 100%);
  
  #seasonsChart { margin-top: 40px; }
}
#theseason[data-season='4'] {
  background: linear-gradient(to top, @black 0%, @ordinary 100%);
  
  #seasonsChart { margin-right: 10px; margin-top: 10px; }
}
#theseason[data-season='5'] {
  background: linear-gradient(to top, @black 0%, @lent 100%);
  
  #seasonsChart { margin-right: 10px; }
}
#theseason[data-season='6'] {
  background: linear-gradient(to top, @black 0%, @easter 100%);
  
  #seasonsChart { margin-bottom: 10px; }
}
#theseason[data-season='7'] {
  background: linear-gradient(to top, @black 0%, @pentecost 100%);
  
  #seasonsChart { margin-left: 30px; margin-bottom: 10px; }
}
#theseason[data-season='8'] {
  background: linear-gradient(to top, @black 0%, @ordinary 100%);
  
  #seasonsChart { margin-left: 40px; }
}


.season {
	padding-top: 3rem;
  padding-bottom: 2rem;
	text-align: left;
  
  .seasontitle {
    margin-top: -20px;
    display: block;
  }

  @media (min-width: @screen-sm) {
    .seasontitle {
      padding: 0 55px 100px;
    }
  }

  p {
    color: @epiphany;
    margin: 0 0 9px;
    letter-spacing: .4px;
    font-weight: 100;
  }
	h1 {
		color: @epiphany;
		font-weight: 100;
		font-size: 2.5rem;
		line-height: .8;
		text-align: left;
		padding-top: 0;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}

	h1 small {
		color: @green;
		font-weight: 400;
		font-size: .4em;
		line-height: .6em;
	}
}
@media (min-width: 344px) {
  .season {
    padding-top: 4rem;

    h1 {
      font-size: 3rem;
    }
  }
}
@media (min-width: @screen-sm) {
  .season {
    height: 100%;
    p {
      margin: 0 0 16px;
      font-size: 14px;
    }
    h1 {
      font-size: 5rem;
      line-height: .6;
    }
    h1 small{
      font-size: .3em;
    }
  }
}


.content {
  background: #fff;
  text-align: left;
  padding: 20px 20px 80px;
  color: @black;

  &.dark {
    background: @black;
    color: @midgreen;
    padding-top: 20px !important;

    section {
      padding-top: 0 !important;
    }

    p {
      color: #ccc;

      i {
        color: #dedede;
      }
    }
  }

  section {
    margin: 0 auto;
    padding-top: 80px;

    &.focus {
      background: yellow;
    }

    p {
      color: #222;

      i {
        color: #547980;
      }
    }
  }
}
@media (min-width: 768px) {
  .content {
    padding: 2rem 2rem;
    position: relative;

    section {
      max-width: 80%;
      height: 100vh;

      h2 {
        font-size: 5rem;
        font-weight: 100;
        display: inline-block;
        border-top: 2px solid @black;
        padding-top: 20px;
      }
    }
  }
}

body.cal-stuck {
  .content {
    padding-top: 80px;
  }
}

p {
	color: #547980;
	font-size: 1rem;
	font-weight: 400;
}
footer {
	position: relative;
	background: black;
	padding: 12pt;

	.credit {
		font-size: 1rem;
	}
	.right {
		text-align: right;
	}
	.github {
		background-image: url('../img/github_icon.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		padding-left: 32px;
	}
}